<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="https://Warwick-Maths-Society.github.io/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://Warwick-Maths-Society.github.io/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://Warwick-Maths-Society.github.io/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="https://Warwick-Maths-Society.github.io/assets/favicon/site.webmanifest">
<link rel="mask-icon" href="https://Warwick-Maths-Society.github.io/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="https://Warwick-Maths-Society.github.io/assets/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="https://Warwick-Maths-Society.github.io/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

{%- assign meta_title = page.title | default: site.title -%}
{%- assign meta_description = page.excerpt | default: site.description -%}
{%- assign meta_url = page.url | absolute_url -%}

{%- if page.image and page.image != "" -%}
  {%- assign meta_image = page.image -%}
{%- else -%}
  {%- assign meta_image = site.og_image -%}
{%- endif -%}

<!-- Open Graph -->

<meta property="og:title" content="{{ meta_title | escape }}">
<meta property="og:description" content="{{ meta_description | strip_html | strip_newlines | truncate: 160 }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ meta_url }}">
<meta property="og:image" content="{{ meta_image | absolute_url }}">

<!-- end custom head snippets -->